<div class="p-grid">
  <div class="p-md-5 p-sm-5">
    <textarea pInputTextarea [(ngModel)]="book" style="width:100%; resize:none" [rows]="20"></textarea>
    <div class="p-grid">
      <div class="p-md-3">
        <button pButton type="button" label="Parse" (click)="parseBook()"></button>
      </div>
    </div>
  </div>
  <div class="p-md-7 p-sm-7">
    <p-table [value]="fields">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols"> {{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td *ngFor="let col of cols">{{car[col.field]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>